<h1> Bus Lines </h1>

<ul>
  <% @lines.each do |line| %>
    <li><a href="lines/<%= line.id %>"><%= line.name %></a></li>
  <% end %>
</ul>



<%= link_to "Add New Line", new_line_path, :class => "btn btn-default" %>

<%= link_to "Station Menu", stations_path, :class => "btn btn-default" %>

<%= link_to "Stops Menu", stops_path, :class => "btn btn-default" %>
