<%= render("layouts/errors", :object => @station) %>


<%= form_for(@station) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.collection_check_boxes :line_ids, Line.all, :id, :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>


