<h1> Stations </h1>

<ul>
  <% @stations.each do |station| %>
    <li><a href="stations/<%= station.id %>"><%= station.name %></a></li>
  <% end %>
</ul>

<%= link_to "Add New Station", new_station_path, :class => "btn btn-default" %>

<%= link_to "Lines Menu", lines_path, :class => "btn btn-default" %>

<%= link_to "Stops Menu", stops_path, :class => "btn btn-default" %>
